.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-frame{
   background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
   width: 70vw;
   margin-top: 4rem;
   margin-left: 15rem;
   margin-right: 15rem;
}

li{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
  flex-wrap: wrap;
}
li>button{
  
}
input,.Submit{
  margin: 1rem;
}
.Navbar{
  display: flex;
  justify-content: center;
  border: 0.2rem solid #282c34;
}